Choose a photo you would like to add to another album. 

<form action ="add_to_another_album"> 
  <select name="photo_id">
    <% Photo.all.each do |pic| %>
      <option value="<%= pic.id %>"><%= pic.title %></option>
    <% end %>
  </select><br>
  Add this photo to an album:
  <select name="album_id">
    <% Album.all.each do |pic| %>
      <option value="<%= pic.id %>"><%= pic.subject %></option>
    <% end %>
  </select>
  
  <input type="submit">
</form>