Add a new photographer.
<form action="add_photographer">
  <input type="text" placeholder="Enter Phototographer Name" name ="name"><br>
  <input type="text" placeholder="Enter Photographer Hometown" name ="hometown"><br>
  <br> 
  <input type="submit">
</form>