<h1>Photographer Photo/Album Manager</h1>

<p>Choose a function:</p>

<ul>
  <li><a href="/all_photos">All a photos</a></li>
  <li><a href="/add_photo_form">Add a photo</a></li>
  <li><a href="/update_photo_form">Update a photo</a></li>
  <li><a href="/delete_photo_form">Delete a photo</a></li>
  
</ul>






